In [1]:
print("Hello World!!!")

Hello World!!!

In [10]:
money = True   #대소문자 구별 (T(대문자)rue,if(소문자))

if money == True:
    print("택시를 타자")
else: 
    print("걸어 가자")

택시를 타자

In [ ]:
money = 8000

if money >= 5000:
    print("택시를 타자")
elif money >= 1000:
    print("버스를 타자")
else:
    print("걸어가자")

In [ ]:
# 학생의 성적을 입력 받아서 
# 점수가 90이상 이면 'A학점'입니다. 
# 점수가 80이상 이면 'B학점'입니다. 
# 점수가 70이상 이면 'C학점'입니다. 
# 점수가 60이상 이면 'D학점'입니다. 
# 나머지는 모두 'F학점'입니다. 

(순서도, 코드)

In [16]:
score = int(input("성적을 입력하세요"))

if score >= 90 : 
    print("A학점")
elif score >= 80 :
    print("B학점")
elif score >= 70 :
    print("C학점")
elif score >= 60:
    print("D학점")
else :
    print("F학점")

성적을 입력하세요100
A학점

In [17]:
# While

no = 10

while no >= 0:
    print(no)
    no = no - 1

10
9
8
7
6
5
4
3
2
1
0

In [20]:
prompt = "1. 덧셈 / 2. 뺄셈 / 3. 곱셈 / 4. 나눗셈 / 5. 종료"
no = 1

while no <= 4:
    print(prompt)
    no = int(input())

1. 덧셈 / 2. 뺄셈 / 3. 곱셈 / 4. 나눗셈 / 5. 종료
1
1. 덧셈 / 2. 뺄셈 / 3. 곱셈 / 4. 나눗셈 / 5. 종료
2
1. 덧셈 / 2. 뺄셈 / 3. 곱셈 / 4. 나눗셈 / 5. 종료
3
1. 덧셈 / 2. 뺄셈 / 3. 곱셈 / 4. 나눗셈 / 5. 종료
4
1. 덧셈 / 2. 뺄셈 / 3. 곱셈 / 4. 나눗셈 / 5. 종료
5

In [21]:
no = 10

while no >= 0:
    print(no)
    no = no-1

10
9
8
7
6
5
4
3
2
1
0

In [22]:
prompt = "1. 덧셈 / 2. 뺄셈 / 3. 곱셉 / 4. 나눗셈 / 5. 종료"
no = 1

while no <= 4:
    print (prompt)
    no = int(input())

1. 덧셈 / 2. 뺄셈 / 3. 곱셉 / 4. 나눗셈 / 5. 종료
5

In [24]:
# while문의 경우에는 반복 횟수가 정확하지 않을 경우가 많기 때문에 조건에서 뿐만이 아니라 중간에 반복을 종료 시키는 방법도 필요하다.

no = 0

while no <= 10:  #조건식에서 빠져나가는법1
    print(no)
    no = no+1

0
1
2
3
4
5
6
7
8
9
10

In [26]:
no = 0

while True:   # 불린 트루 폴스는 대문자 T,F
    print(no)
    no = no+1 # 여기까진 무한반복
    
    if no > 10: #돌다가 빠져나가는법2
        break

0
1
2
3
4
5
6
7
8
9
10

In [30]:
#while문을 사용하여 1부터 100까지의 수 중 3의 배수만의 합을 구하시오. #순서도 6,7

no = 1
sum = 0

while no <=100:
    if no % 3 == 0:
        sum = sum + no
        
    no = no + 1 # (파이썬)  no += 1   (자바) no++;
    
print(sum)

1683

In [36]:
#For 구문

In [38]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
math = [80, 90, 70, 70, 100]

j = 1
for i in math:
    if i > 90:
        print(j, "번째 학생은 합격입니다.")
    else:
        print(j, "번째 학생은 불합격입니다")
    j +=1

1 번째 학생은 불합격입니다
2 번째 학생은 불합격입니다
3 번째 학생은 불합격입니다
4 번째 학생은 불합격입니다
5 번째 학생은 합격입니다.

In [44]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [46]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i % 2 == 0:
         print(i)

2
4
6
8
10

In [50]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i % 2 != 0:
        continue
        
    print(i)

2
4
6
8
10

In [ ]:
# range 함수

# 숫자를 자동으로 생성해준다. for문과 함께 사용되는 경우가 아주 많다.

In [52]:
for i in range(1,11): # 1에서 11미만, 두번째 수는 미만
    print(i)

1
2
3
4
5
6
7
8
9
10

In [68]:
# for 문으로 구구단 출력하기 (이중 for문) 외우기

for i in range(2,10):
    for j in range(1,10):
        print(i,"*",j ,"=", i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [63]:
for i in range(2,10): # i는 단을 표현
    for j in range(1,10):
        print(i*j, end="\t")
    print()

2	4	6	8	10	12	14	16	18
3	6	9	12	15	18	21	24	27
4	8	12	16	20	24	28	32	36
5	10	15	20	25	30	35	40	45
6	12	18	24	30	36	42	48	54
7	14	21	28	35	42	49	56	63
8	16	24	32	40	48	56	64	72
9	18	27	36	45	54	63	72	81

In [67]:
for j in range(1,10): # i는 단을 표현
    for i in range(2,10):
        print(j*i, end="\t")
    print()

2	3	4	5	6	7	8	9
4	6	8	10	12	14	16	18
6	9	12	15	18	21	24	27
8	12	16	20	24	28	32	36
10	15	20	25	30	35	40	45
12	18	24	30	36	42	48	54
14	21	28	35	42	49	56	63
16	24	32	40	48	56	64	72
18	27	36	45	54	63	72	81

In [85]:
# range를 사용하여 100이하의 수중 짝수들만의 합계를 구하세요 

#range (start, stop, step)

#for i in rage(11): #start를 생략하면 0에서 시작

#for i in range(0,11,2): #step를 생략하면 1씩 증가
# print(i)


sum = 0
for i in range(0,101):
    if i%2 == 0:
        sum += i
        
print(sum)

2550

In [87]:
sum = 0
for i in range(0,101,2):
    sum += i
    
print(sum)

2550

In [90]:
# 리스트 축약/내포 List Comprehension
# 리스트룰 좀더 편리하고 직관적으로 만드는 작업이다. 

list1 = [1,2,3,4]

print(list1)

list2 = [num        for num in list1]  #덩어리 2개

print(list2)

list3 = [num*2        for num in list1]   #덩어리 2개

print(list3)

list4 = [num        for num in list1    if num%2 == 0]    #덩어리 3개

print(list4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[2, 4, 6, 8]
[2, 4]

In [93]:
no = 90

if no >= 80:     #추천
    print("합격입니다")
else:
    print("불합격입니다")
    
    
print("합격입니다"     if no>=80   else "불합격입니다")  #if 축약형

합격입니다
합격입니다